@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #030305; /* Warna dasar lebih gelap */
}

* {
  box-sizing: border-box;
}

/* Custom scrollbar disembunyikan agar UI framer motion yang ambil alih */
::-webkit-scrollbar {
  display: none;
}